@function get-color($key) {
  @return map-get($colors, $key);
}

@function get-font($key) {
  @return map-get($fonts, $key);
}

@function get-font-size($key) {
  @return map-get($fonts-size, $key);
}

$fonts: (
  'primary': 'Inter',
  'secondary': 'Roboto',
);

$fonts-size: (
  'primary': 12px,
  'footer': 16px,
);

$colors: (
  'brand_color-first': #ffffff,
  'brand_color-second': #000000,
  'brand_color-third': #ff6b08,
  'brand_color-fourth': #ff001b,
  'brand_color-fifth': #f7f7f7,
  'brand_color-sixth': #8c8c8c,
  'brand_color-seventh': #545454,
);
