<header class="main-header__library">
  <div class="main-header__container">
    <div class="main-header__menu">
      <a href="./index.html" class="main-header__link">
        <svg
          class="main-header__logo"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="main-header__title">Filmoteka</span>
      </a>
      <nav>
        <ul class="main-header__nav">
          <li><a href="./index.html" class="main-header__nav-link">Home</a></li>
          <li>
            <a href="./library.html" class="main-header__nav-link--active">My library</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="main-header__button">
      <li><button class="btn__main" id="watched-btn">Watched</button></li>
      <li><button class="btn__main" id="queue-btn">Queue</button></li>
    </ul>
  </div>
</header>
