<div id="studentsModal" class="modal">
  <div class="modal-content">
    <span id="closeModalBtn" class="modal__close">&times;</span>
    <h2 class="mdl__title container">
      <b><i>Drużyna Pierścienia</i></b>
    </h2>
    <div class="mdl__container container">
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Gandalf_the_Grey.jpg" alt="Gandalf" />
        <p class="mdl__paragraf"><b>Gandalf/Adrian</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Frodo.jpg" alt="Frodo Baggins" />
        <p class="mdl__paragraf"><b>Frodo/Gosia</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Samwise_G.jpg" alt="Samwise Gumgee" />
        <p class="mdl__paragraf"><b>Sam/Magda</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Merry.jpg" alt="Meriadok Brandybuck" />
        <p class="mdl__paragraf"><b>Merry/Adrian N</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Pippin.jpg" alt="Peregrin Took" />
        <p class="mdl__paragraf"><b>Pippin/Patrycja</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Gimli.jpg" alt="Gimli syn Glóina" />
        <p class="mdl__paragraf"><b>Gimli/Dominika</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Legolas.jpg" alt="Legolas" />
        <p class="mdl__paragraf"><b>Legolas/Magda</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Aragorn.jpg" alt="Aragorn syn Arathorna" />
        <p class="mdl__paragraf"><b>Aragorn/Monika</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="./images/Boromir.jpg" alt="Boromir" />
        <p class="mdl__paragraf"><b>Boromir/Tomek</b></p>
      </div>
    </div>
  </div>
</div>
