<div class="container">
  <ul class="page">
    <svg
      class="page__arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
    >
      <path
        d="M12.6666 8H3.33325"
        stroke="black"
        stroke-width="1.33333"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337"
        stroke="black"
        stroke-width="1.33333"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <li class="page__numbers">1</li>
    <li class="page__dots">...</li>
    <li class="page__numbers">13</li>
    <li class="page__numbers">14</li>
    <li class="page__numbers">15</li>
    <li class="page__numbers">16</li>
    <li class="page__numbers">17</li>
    <li class="page__dots">...</li>
    <li class="page__numbers">20</li>
    <svg
      class="page__arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
    >
      <path
        d="M3.33341 8H12.6667"
        stroke="black"
        stroke-width="1.33333"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8.00008 12.6667L12.6667 8.00004L8.00008 3.33337"
        stroke="black"
        stroke-width="1.33333"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </ul>
</div>
