* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  font-family: get-font(primary), sans-serif;
  color: get-color(brand_color-second);
  background-color: get-color(brand_color-first);
}

.container {
  margin-left: auto;
  margin-right: auto;
  //inline-size: 100%;
  max-width: 480px;
  @include mq(tablet) {
    max-width: 760px;
  }
  @include mq(desktop) {
    max-width: 1280px;
  }
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
