.btn {
  &__main {
    background: transparent;
    border: 1px solid get-color(brand_color-first);
    border-radius: 5px;
    color: get-color(brand_color-first);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    width: 130px;
    height: 44px;
    display: block;

    @media (min-width: 768px) {
      width: 152px;
      height: 44px;
    }
    @media (min-width: 1280) {
      width: 147px;
      height: 42px;
    }

    &:hover,
    &:active,
    &:focus {
      background: get-color(brand_color-third);
      border: 1px solid #ff6b01;
      box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 250ms;
    }
  }

  &__modal {
    background: transparent;
    border: 1px solid get-color(brand_color-second);
    border-radius: 5px;
    color: get-color(brand_color-second);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    width: 110px;
    height: 44px;

    @media (min-width: 768px) {
      width: 125px;
      height: 44px;
      margin-right: 15px;
    }
    @media (min-width: 1280) {
      width: 136;
      height: 44px;
    }

    &:focus {
      background: transparent;
      border: 1px solid get-color(brand_color-third);
      border-radius: 5px;
      color: get-color(brand_color-third);
    }

    &:hover,
    &:active {
      border-radius: 5px;
      border: 1px solid get-color(brand_color-third);
      background: get-color(brand_color-third);
      color: get-color(brand_color-first);
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }
}

.active {
  background: get-color(brand_color-third);
  border: 1px solid get-color(brand_color-third);
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 250ms;
}
